{% extends 'core/base.html' %}

{% block title %}contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}  

{% block content %}  
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>para mas informacion me puedes contactar para poder darte mas informacion de mi trabajo por aca te dejo mi numero telefonico o mi correo electronico </p>
          <br>
          <p><b>Teléfono:</b> +0993952146</p>
          <p><b>Honorarios:</b> 60€/h (precio base)</p>
        </div>
      </div>
    </div>
{% endblock %}
  
    